@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body { 
  background-color: #f8f9fa !important; 
  font-family: 'Inter', sans-serif !important; 
  color: #111827;
  -webkit-font-smoothing: antialiased;
}